@font-face {
    font-family: minecrafter;
    src: url(/fonts/Minecrafter.Reg.ttf);
}

@font-face {
    font-family: Kanit;
    src: url("https://fonts.google.com/specimen/Kanit?selection.family=Kanit");
}

* {
    margin: 0;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    /* padding: 0; */
}

body {
    /* font-family: minecrafter; */
}

td {
    font-family: minecrafter;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#bg_index {
    /* background-image: url(picture/bgf.png);
    background-repeat: no-repeat;
    height: 100vh;
    /* background-size: cover; */
    /* background-position-y: center;
    background-position-x: center; */
    background-attachment: fixed;
    background-size: cover;
}

.logo img {
    margin-top: 17%;
    margin-left: 24%;
}

.game {
    position: static;
    padding: 1px;
    width: auto;
    margin: 10px;
    margin-left: 31%;
    margin-right: 29%;
    text-align: center;
    margin-bottom: 100px;
}


/* Navbar */

#navbar {
    margin-left: 13%;
    margin-right: 13.7%;
    border-radius: 35px;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 5;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    padding: 8px;
    padding-left: 1%;
    /* padding-right: 50px; */
    float: left;
    /* clear: left; */
    /* padding-right: 2px; */
}

#navbar li a {
    font-family: minecrafter;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
    width: auto;
    border-radius: 20px;
}

#navbar .small {
    padding-top: 17px;
}

#navbar img {
    position: absolute;
    margin-left: 50px;
    /* margin-top: -40px; */
    /* top: 67%;
    left: 46.4%; */
}

.prev {
    cursor: pointer;
}


/* Content */

#content {
    background-color: rgba(13, 13, 13, 0.8);
    color: white!important;
    border-radius: 20px;
    /* margin: 10%; */
    margin-left: 15%;
    margin-right: 15.5%;
    margin-top: 10%;
    margin-bottom: 100px;
    /* height: 1730px; */
    height: auto;
    width: auto;
    /* Adjust block */
    /* content: ""; */
}

#content div {
    clear: both;
    display: table;
    /* margin-top: -30px; */
}

#content h1 {
    text-align: center;
    padding-top: 1em;
    /* padding-bottom: 1em; */
    text-transform: uppercase;
    font-family: minecrafter;
}

#content p {
    padding: 30px;
    text-align: justify;
}

#content li {
    float: left;
    list-style-type: none;
    /* padding-left: 10%; */
    margin-left: 9%;
}

.text:hover {
    display: block;
    background-color: #333;
    cursor: default;
}

#img {
    display: block;
}

div .text {
    padding: 10px;
    font-family: minecrafter;
}


/* Mob page */

.mediummob li {
    padding-left: 1%;
}

.tameanimal li img {
    margin-left: 70%;
    padding-left: 50%;
}

#content td {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0;
}


/* Farm page */

.farm img {
    /* position: static; */
    top: -50px;
    padding: 30px;
    float: right;
}

.farm img {
    margin-top: 8%;
}


/* mode */


/* Sticky */

.sticky {
    position: fixed;
    width: 73.5%;
    top: 0;
}

.sticky+.content {
    padding-top: 0px;
}


/* Footer */

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    height: 320px;
    padding-top: 10px;
}